<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
    </div>
    <div class="panel-body">
        
        <div class="color-swatches">


            <div class="color-swatch swatch-custom-styles">
                <a ng-href="#/viewPatient/{{patient.patientid}}">
                    <button class="btn btn-default btn-cust-style">
                        <img src="/app/img/casehistory.png" class="img-rounded">
                        <div class="caption">
                            <h5>View Patient</h5>
                        </div>
                    </button>
                </a>
            </div>

            <div class="color-swatch swatch-custom-styles">
                <a>
                    <button type="submit" class="btn btn-default btn-cust-style">
                        <img src="/app/img/photography.png" class="img-rounded">
                        <div class="caption">
                            <h5>Photos</h5>
                        </div>
                    </button>
                </a>
            </div>

            <div class="color-swatch swatch-custom-styles">
                <a ng-href="#/diagnosisPage/{{patient.patientid}}">
                    <button type="submit" class="btn btn-default btn-cust-style" formaction="getDiagnosisPage">
                        <img src="/app/img/diagnosis.png" class="img-rounded">
                        <div class="caption">
                            <h5>Case History</h5>
                        </div>
                    </button>
                </a>
            </div>

            <div class="color-swatch swatch-custom-styles">
                <a ng-href="#/treatmentPage/{{patient.patientid}}">
                    <button type="submit" class="btn btn-default btn-cust-style" formaction=" ">

                        <img src="/app/img/casehistory.png" class="img-rounded">
                        <div class="caption">
                            <h5>Treatment Plan</h5>
                        </div>
                    </button>
                </a>
            </div>

            <div class="color-swatch swatch-custom-styles">
                <a ng-href="#/treatmentSummary/{{patient.patientid}}">
                    <button type="submit" class="btn btn-default btn-cust-style" formaction="#">
                        <img src="/app/img/treatmentIcon.png" class="img-rounded">
                        <div class="caption">
                            <h5>Treatment Summary</h5>
                        </div>
                    </button>
                </a>
            </div>

            <div class="color-swatch swatch-custom-styles">
                <a ng-href="#/comment/{{patient.patientid}}">
                    <button type="submit" class="btn btn-default btn-cust-style">
                        <img src="/app/img/comment.jpg" class="img-rounded">
                        <div class="caption">
                            <h5>Follow Up</h5>
                        </div>
                    </button>
                </a>
            </div>

            <div class="color-swatch swatch-custom-styles">
                <a ng-href="#/payment/{{patient.patientid}}">
                    <button type="submit" class="btn btn-default btn-cust-style">
                        <img src="/app/img/payment.png" class="img-rounded">
                        <div class="caption">
                            <h5>Payments</h5>
                        </div>
                    </button>
                </a>
            </div>

        </div>
    </div>


     <div class="row">
      <div class="col-md-7"></div>
                <div class="col-md-2 ">

                 <label for="lastName" class="control-label text-primary">Patient ID</label>
                 <label for="lastName" class="control-label">{{patient.patientid}}</label>
                  </div>
                <div class="col-md-3 pull-left">
                 <label for="lastName" class="control-label text-primary">Name </label>
                 <label for="lastName" class="control-label">{{patientdetails.firstname}}</label>
                 
                 <label for="lastName" class="control-label">{{patientdetails.lastname}}</label>
             </div>
              
          </div></div>
          </div>
          <div class="col-md-1"></div>

  
</div>


