<!-- Menu starts -->
<div class="row">
    <div class="col-md-12 ">
        
        <nav class="navbar navbar-default" role="navigation">
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav nav-pills center main-screen">

                    <li class="menu-custom-style"  >
                        <a href="#/patientHome">
                            <img src="/app/img/people.png" alt="Patient" class="img-rounded img-responsive center-block">
                            <span>Patient<span>
                        </a>
                    </li>

                    <li class="menu-custom-style"  >
                        <a href="#/doctorHome">
                            <img src="/app/img/client.png" alt="Doctor" class="img-rounded img-responsive center-block">
                            <span>Doctor<span>
                        </a>
                    </li>

                    <li class="menu-custom-style">
                        <a href="#/acceptPayments/">
                            <img src="/app/img/receptionist.png" alt="Receptionist" class="img-rounded img-responsive center-block">
                            <span>Receptionist<span>
                        </a>
                    </li>

                </ul>

            </div>
                    
        </nav>
	</div>

</div>
