<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- LOGIN FORM -->
    <form ng-submit="signup()" method="post">


        <div class="form-group">
            <label>Clinic Name</label>
            <input type="text" class="form-control" ng-model="user.clinicName">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" ng-model="user.email">
        </div>


        <div class="form-group">
            <label>Role</label>
            <select class="form-control" ng-model="role" ng-options="role.name for role in rolesList"></select>
        </div>


        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="user.password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a ng-href="#/">Login</a></p>

</div>