
	<div class="panel panel-primary" ng-show="PaymentEstimatePanel">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span>Add Payment Estimate</span> 
						</h3>
					</div>
					<div class="panel-body">
		

	    <div ng-controller="estimateCtrl">
	        <div>
	           




	             <div class="row">
	             <div class="col-md-10">

	                	

 <div class="form-group">
								<label for="firstName" class="col-lg-3 control-label">Treament Name</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" ng-model="paymentEstimate.paymentEstimateName"
									placeholder="0" required>
								</div>
							</div>
	                	 </div>
	                	<div class="col-md-2"> </div>
	                	<br><br>
	                	</div>
	             <div class="row">
	             <div class="col-md-10">

	                	<button class= "btn btn-primary pull-right" ng-click="newItem($event)">New Item</button>
	                	 </div>
	                	<div class="col-md-2"> </div>
	                	<br><br>
	                	</div>
	                <div ng-repeat="elemnt in estimateelemnt">

	                    <div>
	                        <div id={{elemnt.id}} style="display:inline" >
	                            <span  ng-model="elemnt.estimate" ng-hide="editorEnabled" ng-click="editorEnabled=true">
	                                {{elemnt.estimate}}
	                            </span>
	                            <div  ng-show="editorEnabled">
	                                <input  ng-model="elemnt.estimate" ng-show="editorEnabled" >
	                                <button href="#" ng-click="editorEnabled=false">Done editing</button>
	                            </div>
	                        </div>
	                         <div>
	                    
	                </div>

	                        <div class="row" >
	                        <div style="display:inline">
	                            <span>
	                                <input type="text" ng-model="elemnt.treatmenttype" placeholder="Treatment Type" required/>
	                                    
	                            </span>
	                                <span>
	                                <input type="text" ng-model="elemnt.treatmentsubcost" placeholder="Treatment Sub Cost" required/>
	                                    
	                            </span>
	                                    <span>
	                                <input type="text" ng-model="elemnt.units" placeholder="No of Units"ng-keyup="estimatechanged($event)"  required  />
	                                    
	                            </span>
								   <span>
	                                <input type="text" ng-model="elemnt.subcost" placeholder="Sub Cost" required disabled="true"/>
	                                    
	                            </span>
	                        </div>
	                         
	                        <span ng-hide="elemnt.length == 1">
	                            <a href ng-click="removeitem($index)">remove</a>
	                        </span>
	                        </div>
	                    </div>
	                    <hr/>
	                </div>
	               
	             
	        </div>
	                             
	                              <span> <br/>
	                              <div class="row">
	                              	 <div class="col-md-4"></div><label for="lastName" class="control-label">Total Estimate</label>
	                                <input type="text" ng-model="totalcost" placeholder="Total Cost" required disabled="true"/>
	                                 <div class="col-md-6"></div>
	                                    <br/>
	                                    </div>
	                                  </span> 
	        <div>   <br/>

	        <span> <br/>
	                              <div class="row">
	                              	 <div class="col-md-5"></div> <button class="btn btn-primary" ng-click="showitems($event)">Save Payment Estimate</button>
	                                 <div class="col-md-6"></div>
	                                    <br/>
	                                    </div>
	                                  </span>
	           
	        </div>
	        <div id="displayitems" style="visibility:hidden;">
	            {{estimateelemnt}}
	        </div>
	    </div>
	 


						<form  novalidate  class="form-horizontal" role="form">
							
							

							<div class="form-group">
								<label for="lastName" class="col-lg-3 control-label">Amount</label>
								<div class="col-lg-8">
									<input type="text" class="form-control  " id="paymentEstimate.estimateAmount"
									placeholder="Enter Estimate Amount" ng-model="paymentEstimate.estimateAmount" required>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-xs-6 col-sm-3 col-md-offset-3">
									<button ng-click="savePaymentEstimate(paymentEstimate)" class="btn btn-primary btn-lg">
										Save Payment Estimate
									</button>
								</div>
							</div>

						</form>
					</div>
				</div>

