<!-- Menu starts -->
<div class="row">
	<div class="col-md-12 ">
		
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header"></div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div>
					<ul class="nav nav-pills center">
						
						<li class="active menu-custom-style">
							<a href="#/patientHome">
								<img src="img/people.png" alt="..." class="img-rounded img-responsive"> 
								<span>Patient<span>
							</a>
						</li>

						<li class="menu-custom-style">
							<a href="/doctorHome">
								<img src="img/client.png" alt="..." class="img-rounded img-responsive">
								<span>Doctor<span>
							</a>
						</li>

						<li class="menu-custom-style">
							<a href="getCalendarHome">
								<img src="img/calendar.png" alt="..." class="img-rounded img-responsive"> 
								<span>Appointment<span>
							</a>
						</li>

						<li class="menu-custom-style">
							<a href="#/treatmentMethods">
								<img src="img/survey.png" alt="..." class="img-rounded img-responsive"> 
								<span>Treatment Methods<span>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
		
	</div>

</div>