<!--<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Follow Up</h3>
        </div>
        <div class="modal-body">
        	<form name="form" class="form-horizontal" style="padding: 10px;">
			    <div class="form-group">
			      <textarea type="textarea" ng-model="items.comment" class="form-control" rows="3"></textarea>
			    </div>
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
 </script>-->

<div class="row">

    <!-- Manage Patient Menu Items -->
    <div ng-include src="'/app/javascripts/common/partials/managePatientMenu.html'"></div>

</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <button ng-hide="commentPanel" class="pull-right btn btn-success" ng-click="addComment()">Add New Followup</button>
        <br>
        <br>
        <br>

        <div class="panel panel-primary" ng-show="commentPanel">
            <div class="panel-heading">
                <h3 class="panel-title">
						<span>Add Follow up Details</span>
					</h3>
            </div>
            <div class="panel-body">
                <form name="form" class="form-horizontal" style="padding: 10px;">
                    <div class="form-group">
                        <textarea type="textarea" ng-model="comment.comment" class="form-control" rows="3" placeholder="Follow Up Details"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="submitComment()">Save Follow up Details</button>
                </form>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
						<span>Follow up Details</span>
					</h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="comment in commentList">
                    <div ng-hide='comment.isEdit'>

                        <div ng-if="comment.comment">
                            <h5><u></U> <span class="label label-default">{{comment.date  | date:"dd MMM yyyy 'at' h:mma"}}</span></h5>
                            <a style="float:right;" href ng-click="editFollowUp(comment)" tooltip="{{tooltipmessage}}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <p>
                                {{comment.comment}}
                            </p>
                        </div>

                        <div ng-if="comment.treatmentPlanData">
                            <h3><U>Treatment</U> <span class="label label-default">{{comment.date  | date:"dd MMM yyyy 'at' h:mma"}}</span></h3>
                            <p>
                                <div ng-repeat="(disease, diseaseValue) in comment.treatmentPlanData">
                                    <div ng-if="disease != 'notes' ">
                                        <b> {{disease}}</b>
                                    </div>
                                    <div ng-repeat="(subDisease, subDiseaseValue) in diseaseValue">
                                        {{subDisease}} --> <span ng-repeat="teeth in subDiseaseValue">{{teeth}} , </span>
                                    </div>
                                    <br/>
                                </div>
                            </p>
                        </div>

                        <div ng-if="comment.diagnosisData">
                            <h3><U>Diagnosis</U> <span class="label label-default">{{comment.date  | date:"dd MMM yyyy 'at' h:mma"}}</span></h3>
                            <p>
                                <div ng-repeat="(disease, diseaseValue) in comment.diagnosisData">
                                    <div ng-if="disease != 'notes' ">
                                        <b> {{disease}}</b>
                                    </div>
                                    <div ng-repeat="(subDisease, subDiseaseValue) in diseaseValue">
                                        {{subDisease}} --> <span ng-repeat="teeth in subDiseaseValue">{{teeth}} , </span>
                                    </div>
                                    <br/>
                                </div>
                            </p>
                        </div>
                    </div>

                    <form ng-show="comment.isEdit" name="form" class="form-horizontal" style="padding: 10px;">
                        <div class="form-group">
                            <textarea type="textarea" ng-model="comment.comment" class="form-control" rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary" ng-click="ok(comment)">Save</button>
                        <button class="btn btn-warning" ng-click="cancel(comment)">Cancel</button>
                    </form>


                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>